# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore credentials and API keys
openai-api-key.txt
google_client_id_OAuth.txt
credentials.json
token.json
ffmpeg-7.1.1-full_build/
ffmpeg-7.1.1-full_build/
